## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [10]:

d1 = ["台灣", "中國", "美國", "英國", "法國", "澳洲"]
d2 = np.random.randint(90000000,size=6)

data = {'國家': d1,
        '人口': d2}
data = pd.DataFrame(data)
data

   國家        人口
0  台灣   3719388
1  中國  22532722
2  美國  13144390
3  英國  58527718
4  法國  11503177
5  澳洲  36327774

In [11]:
data[data["人口"]==data["人口"].max()]

   國家        人口
3  英國  58527718